<% all_abstracts = all_abstracts || nil -%>
<% if ! investigator.nil? %>
	<div id="investigator_title_block">
	  <%= investigator_bio_heading(investigator, all_abstracts).html_safe %>
	</div>
	<div id="biograph">
		<table>
			<tr>
				<td>
					<table>
						<%= handle_tr_format("Academic&nbsp;Title", investigator.title).html_safe %>
						<%= handle_tr_format(LatticeGridHelper.affilation_name, link_to_primary_department(investigator)).html_safe %>
						<%= handle_tr_format("Other&nbsp;Appointments", link_to_units(investigator.joints+investigator.secondaries)).html_safe %>
						<%= handle_tr_format("Affiliations",link_to_units(investigator.any_members)).html_safe %>
						<%= handle_tr_format("Campus",investigator.campus).html_safe %>
						<%= handle_tr_format("Mailcode",investigator.mailcode).html_safe %>
						<%= handle_tr_format("Address",investigator.address1, /\$/,"<br>" ).html_safe %>
						<%= handle_tr_format("Telephone",investigator.business_phone).html_safe %>
						<%= handle_tr_format("Fax",investigator.fax).html_safe %>
						<%= handle_tr_format("Email",email_link(investigator.email)).html_safe %>
						<% if defined?(LatticeGridHelper.include_summary_by_member?) and LatticeGridHelper.include_summary_by_member? and defined?(LatticeGridHelper.include_research_summary_by_organization?) and LatticeGridHelper.include_research_summary_by_organization? %>
							<% old_summary = "&nbsp;" %>
							<% investigator.member_appointments.each do |appointment| %>
								<% research_summary = (appointment.research_summary || investigator.faculty_research_summary || "").chomp %>
								<% research_summary = "&nbsp;" if research_summary == old_summary %>
								<% old_summary = research_summary if ((!research_summary.blank?) and (research_summary != "&nbsp;")) %>
								<%= handle_tr_format("Research in #{link_to_unit(appointment.organizational_unit)}", research_summary).html_safe %>
							<% end %>
						<% else %>
						  <% if LatticeGridHelper.show_research_description? %>
								<%= handle_tr_format("Description",investigator.faculty_research_summary).html_safe %>
							<% end -%>
						<% end %>
						<%= handle_tr_format("Keywords",investigator.faculty_keywords).html_safe %>
						<%= handle_tr_format("Interests",investigator.faculty_interests).html_safe %>
						<% unless all_abstracts.blank? %>
				  		<%= handle_tr_format("PubMed IDs", "<div id='show_pubmed'>Show  &#10162;</div><div id='pubmed_ids' style='display : none;'>#{all_abstracts.map(&:pubmed).join(', ')}</div>").html_safe %>
				  		<script type="text/javascript" language="JavaScript">
								$j('#show_pubmed').click(function(event){
					  			$j('#pubmed_ids').toggle();
					  			event.preventDefault(); // Prevent link from following its href
								});
							</script>
						<% end %>
					</table>
				</td>
			</tr>
		</table>
	</div>
<% end %>

