
<div id="listing">
  <table cellpadding="2" cellspacing="0" lass="borderless"> 
	<% cnt = 0 %>
	<tr valign="bottom" colspan="3">
		<td class="list-title-left">
			#
		</td>
		<td class="list-title-left">
			netid
		</td>
		<td class="list-title-left">
			Last name
		</td>
		<td class="list-title-left">
			First name
		</td>
		<td class="list-title-left">
			email
		</td>
		<td class="list-title-left">
			home department
		</td>
		<td class="list-title-left">
			appointments (joint, secondary, centers)
		</td>
	</tr>
  <% for investigator in @investigators %>
	<tr valign="bottom" colspan="3">
		<td class="list-left">
			<% cnt+=1 %>
			<%= cnt %>
		</td>
		<td class="list-left">
			<%= investigator.username %>
		</td>
		<td class="list-left">
			<%= investigator.last_name %>
		</td>
		<td class="list-left">
			<%= investigator.first_name %>
		</td>
		<td class="list-left">
			<%= mail_to(investigator.email, investigator.email.split("@").join(" at "), 
				:subject => "Contact from the Feinberg Publications site",
				:encode => "javascript") if ! investigator.email.blank? %>
		</td>
		<td class="list-left">
			<%= investigator.home_department.abbreviation %>
		</td>
		<td class="list-left">
			<%= investigator.appointments.collect{|x| x.abbreviation}.join(", ") %>
		</td>
	</tr>
  <% end %>
  </table>

<br/>
</div>
