
<div id="listing">
  <table cellpadding="2" cellspacing="0" lass="borderless"> 
	<% cnt = 0 %>
	<tr valign="bottom" colspan="3">
		<td class="list-title-left">
			#
		</td>
		<td class="list-title-left">
			username
		</td>
		<td class="list-title-left">
			Last name
		</td>
		<td class="list-title-left">
			First name
		</td>
		<td class="list-title-left">
			email
		</td>
		<td class="list-title-left">
			home department
		</td>
		<td class="list-title-left">
			publication listing
		</td>
		<td class="list-title-left">
			appointments (joint, secondary, centers)
		</td>
		<td class="list-title-left">
			Publications
		</td>
	</tr>
  <% for investigator in @investigators %>
	<tr valign="bottom" colspan="3">
		<td class="list-left">
			<% cnt+=1 %>
			<%= cnt %>
		</td>
		<td class="list-left">
			<%= investigator.username %>
		</td>
		<td class="list-left">
			<%= investigator.last_name %>
		</td>
		<td class="list-left">
			<%= investigator.first_name %>
		</td>
		<td class="list-left">
			<%= email_link(investigator.email) %>
		</td>
		<td class="list-left">
			<%= investigator.home_department.abbreviation if ! investigator.home_department.blank? %>
		</td>
		<td class="list-left">
			<%= link_to "link", investigator_listing_abstract_url(investigator.username) %>
		</td>
		<td class="list-left">
			<%= investigator.appointments.collect{|x| x.abbreviation}.join(", ") %>
		</td>
		<td class="list-left">
			<%= investigator.abstracts.length %>
		</td>
	</tr>
  <% end %>
  </table>

<br/>
</div>
