<div id="listing">
<%= image_tag( "#{lattice_grid_instance}/logo_small.png", :style=>"float: left; margin-right: 20px;") %>
<h3><%= LatticeGridHelper.direct_preview_title %><br/> Top 10 Search Results for <i><%= params[:id] %></i> </h3>
  <% if @investigators.length > 0 %>
<div style="margin-left:50px;">
  <table cellpadding="2" cellspacing="0" class="borderless"> 
	<% cnt = 0 %>
	<tr valign="bottom" class="header">
		<td class="list-title-left">
			#
		</td>
		<td class="list-title-left">
			Name
		</td>
	</tr>
  <% for investigator in @investigators[0..9] %>
	<tr class="<%= cycle('even', 'odd') %>">
		<td class="list-left">
			<% cnt+=1 %>
			<%= cnt %>
		</td>
		<td class="list-left">
			<%= link_to( (investigator.first_name||"")+" "+(investigator.middle_name||"")+" "+investigator.last_name+", "+(investigator.degrees||""), investigator_url(investigator.username))  %>
		</td>
	</tr>
  <% end %>
  </table>
</div>
  <% end %>

<br/>
</div>
