<% @include_graph_link=true if @include_graph_link.nil? %>
  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="stylesheets/cytoscape/demo.ie.css" />
  <![endif]-->
  
	<script type="text/javascript">
	// globals
	var vis;
	var cytoscapeGraphURL = "<%= org_cytoscape_data_url(params[:id], params[:depth], params[:include_awards], params[:include_studies]) -%>";
	var swfPath = "<%= image_path('../swf/CytoscapeWeb') %>";
	var flashInstallerPath = "<%= image_path('../swf/playerProductInstall') %>";
	</script>

	<script language="javascript" type="text/javascript" >
	// from Karthik Singh, July 2011
	<!-- hide

	function jumpto(x){
	  if (document.form1.jumpmenu.value != "null" && document.form1.jumpmenu.value != "0") {
	    document.location.href = x
	  }
	}

	// end hide -->
	</script>

<!-- script type="text/javascript" src="javascripts/cytoscape/ga.js" ><!/script -->
  
  <!--[if IE]>
  <![endif]-->
            
<div id="page" class="slice">
	<div id="investigator_title">
	<h1><%= @org.name %> Collaboration Diagram &nbsp;
	    <% if ! @all_abstracts.nil? && @all_abstracts.length > 9 -%>
		  <% publications_per_year=abstracts_per_year_as_string(@all_abstracts) -%>
		  <span class='inlinebarchart' values='<%= publications_per_year -%>' title='publications per year: <%= publications_per_year -%>'>&nbsp;</span>
	   	  <%= sparkline_barchart_setup({'barWidth'=>2,'barSpacing'=>2}) -%>
	    <% end -%>
	</h1>

	<% if @include_graph_link %>
	<p><%= org_nav_heading() %></p>
	<% end %>
	</div>
  <div>
	<input type="checkbox" id="nodeLabelsVisibleCheckbox"> Show Node Labels &nbsp; &nbsp;
    <input type="checkbox" id="edgeLabelsVisibleCheckbox"> Show Edge Labels &nbsp; &nbsp;
    <span id="layoutradio">
	<form id="form1" name="form1">
  	  <input type="radio" name="layout" value="ForceDirected"> ForceDirected
	  <input type="radio" name="layout" value="Circle"> Circle
	  <input type="radio" name="layout" value="Radial"> Radial
	  <input type="radio" name="layout" value="Tree"> Tree
	<!-- from Karthik Singh, July 2011 -->
	<% if ! @org.blank? %>
		<select name="jumpmenu" onChange="jumpto(document.form1.jumpmenu.options[document.form1.jumpmenu.options.selectedIndex].value);">
			<option value="0">Distance...</option>
			<% if params[:depth].blank? or params[:depth] == "1" %>
			<option selected  value="0">One</option>
			<option value='<%= cytoscape_org_url(@org.id, 2) %>'>Two</option>
			<% else %>
			<option value='<%= cytoscape_org_url(@org.id, 1) %>' >One</option>
			<option selected  value="0">Two</option>
			<% end %>
		</select> 
	<% end %>
	</form>
    </span>
  </div>
	<script type="text/javascript">
	jQuery("#nodeLabelsVisibleCheckbox").bind('click', function(event){
		vis.nodeLabelsVisible(!vis.nodeLabelsVisible());
		setItemCheckStatus("#nodeLabelsVisibleCheckbox",vis.nodeLabelsVisible())
	});
	jQuery("#edgeLabelsVisibleCheckbox").bind('click', function(event){
		vis.edgeLabelsVisible(!vis.edgeLabelsVisible());
		setItemCheckStatus("#edgeLabelsVisibleCheckbox",vis.edgeLabelsVisible())
	});
	jQuery("#layoutradio").bind('click', function(event){
		 jQuery("input[name='layout']").each(
			function() {
			  if(jQuery(this).is(':checked')) {
		        changeCytoscapeLayout(jQuery(this).val());
			  }
			}
		)
	});
	jQuery("input[name='layout']").parent().css({border:"1px darkblue solid", padding: "5px"});
	
	function changeCytoscapeLayout(layout_name) {
		vis.layout({name: layout_name, options: LAYOUTS[layout_name]})
	}
	function setItemCheckStatus(id,status) {
		jQuery(id).attr('checked',status)
	}
	function setSelectedLayout(title) {
		jQuery("input[name='layout']").each(
			function() {
			if(jQuery(this).val() == title) {
				jQuery(this).attr("checked","checked");
			} else if(jQuery(this).is(':checked')) {
		         jQuery(this).removeAttr("checked");
			}
			}
		)
	}
	</script>
  
	<!-- begin page content -->
	<div id="content" class="half_and_half">
		<div id="location"></div>
		<div id="loader"></div>
		<div>Please wait while loading content...</div>
	<!-- end content -->
	</div>
<!-- end page -->
</div> 
