<% @include_mesh=true if @include_mesh.nil? %>
<% @include_graph_link=true if @include_graph_link.nil? %>
<% @show_paginator=true if @show_paginator.nil? %>

<% @include_investigators=false if @include_investigators.nil? %>
<% @include_pubmed_id = false if @include_pubmed_id.nil? %>
<% @include_collab_marker = false if @include_collab_marker.nil? %>


<h1><%= @unit.name %> Overview <a href='' title="citations per year"> <%= sparkline_tag( abstracts_per_year(@all_abstracts, @year_array.sort), :type => 'bar') if ! @all_abstracts.nil? && @all_abstracts.length > 10 %></a></h1>
<% if @include_graph_link %>
<h2><%= link_to( "Graph co-Publications by faculty members in <i>#{@unit.name}</i>", show_org_graph_path(@unit.id)) %></h2>
<% end %>

<h2><%= link_to( "Show all #{@unit.name} members", show_investigators_org_path(@unit.id)) %></h2>

<%= render :partial => "shared/abstract_listing", :locals => { :abstracts => @abstracts, :do_pagination => @do_pagination, :heading => @heading, :show_paginator => @show_paginator, :include_investigators => @include_investigators, :investigators_in_unit => @investigators_in_unit, :include_pubmed_id => @include_pubmed_id, :include_collab_marker => @include_collab_marker  } %>


<% if @include_mesh %>
<h2><%= "MeSH cloud from publications by faculty members in <i>#{@unit.name}</i>" %></h2>
<div id="tag_cloud"></div>
<script language="javascript">
<%= remote_function(:url => tag_cloud_org_url( @unit.id ), :method => :get, :before => "Element.show('spinner')", :complete => "Element.hide('spinner')" ) %> 
</script>

<% end %>
<br/>

<%= link_to 'Show All Units', index_orgs_path %>
