<% @exclude_letters=false if @exclude_letters.nil? %>

<h1><%= @heading %></i></h1>

<% hasPrimary = false %>
<% for unit in @units %>
	<% hasPrimary = true if unit.primary_faculty.length > 0 %>
<% end %>
<% multipleUnits = false %>
<% unitType = "organizational unit" %>
<% unitType = @units[0].type if !@units.blank? and @units.length > 0 %>
<% for unit in @units %>
	<% multipleUnits = true if unit.type != unitType %>
<% end %>
The following is a list of the total publications, number of publications with intra-<%= multipleUnits ? "unit" : unitType.downcase -%> sharing, and inter-<%= multipleUnits ? "unit" : unitType.downcase -%> sharing, broken down by <%= multipleUnits ? "organizational unit" : unitType  -%>.
<% if LatticeGridHelper.show_cancer_related_checkbox? %>The publication statistics only include publications that are deemed to be "cancer relevant" according to the criteria of the NCI and the judgement of the coordinator's office. <% end %><br/>

<% if ! @faculty_affiliation_types.blank? %>
<p>Only faculty with <%= @faculty_affiliation_types.split(",").join(" or ") %> appointments are included in this list.</p>
<% end %>

<% if @exclude_letters %>
<p>Letters, editorials, tutorials, commentaries, and reviews have been removed from this list.</p>
<% end %>

<div id="listing">
  
<table cellpadding="2" cellspacing="0" width="100%" class="borderless"> 
<tr valign="bottom" colspan="3">
	<td class="list-title-left">
		<%=  multipleUnits ? "Unit" : unitType  -%> name<br />
	</td>
	<% if multipleUnits %>
	<td class="list-title-left">
		Unit type<br />
	</td>
	<% end -%>
	<% if hasPrimary %>
	<td class="list-title-center">
		Primary Investigators<br/>
	</td>
	<% end -%>
	<% ["All","Primary", "Secondary", "Member", "Associate Member"].each do |affiliate| %>
	  <% unless  @units[0][affiliate].blank? %>
		<td class="list-title-center">
			<% if affiliate == "All" %>
			Members<br/>
			<% else %>
			<%= affiliate %>
			<% end %>
		</td>
		<td class="list-title-center">
			Total publications<br/>
		</td>
		<td class="list-title-center">
			Per investigator <br/>
		</td>
		<td class="list-title-center">
			Intra-<%=  multipleUnits ? "unit" : unitType.downcase -%><br/>
		</td>
		<td class="list-title-center">
			Inter-<%=  multipleUnits ? "unit" : unitType.downcase -%><br/>
		</td>
	<% end %>
  <% end %>
</tr>

<% for unit in @units %>
	<% if unit.all_primary_faculty.length > 0 or unit.all_associated_faculty.length > 0 then %>
	<tr valign="bottom" colspan="3">
		<td class="list-title-left">
			<%= link_to(unit.name + " ("+unit.abbreviation+")", org_url(unit.id), :target => '_blank') %>
		</td>
		<% if multipleUnits %>
		<td>
			<%= unit.type %>
		</td>
		<% end -%>
		<% faculty_total = 0 %>
		<% if hasPrimary %>
		<td class="list-title-center">
			<%= unit.all_primary_faculty.length %>
			<% faculty_total += unit.all_primary_faculty.length %>
		</td>
		<% end -%>
		<% ["All","Primary", "Secondary", "Member", "Associate Member"].each do |affiliate| %>
		  <% unless  unit[affiliate].blank?  %>
			<% this_block = unit[affiliate] %>
			<td class="list-title-center">
				<%= link_to(this_block["unit_faculty"].length, show_investigators_org_url(unit.id) ) %>
				<% faculty_total += this_block["unit_faculty"].length %>
			</td>
			<td class="list-title-center">
				<%= this_block["publications"].length %>
			</td>
			<td class="list-title-center">
				<% if unit[affiliate]["unit_faculty"].length == 0 -%> 
				0
				<% else %>
				<%= ((this_block["publications"].length*10/this_block["unit_faculty"].length).to_f / 10)  %>
				<% end %>
			</td>
			<td class="list-title-center">
				<%= (this_block["pi_intra_abstracts"].length) %> (<%= this_block["publications"].length > 0 ? (100*(this_block["pi_intra_abstracts"].length)/this_block["publications"].length) : 0 %>%)<br/>
			</td>
			<td class="list-title-center">
				<%= this_block["pi_inter_abstracts"].length %> (<%= this_block["publications"].length > 0 ? (100*this_block["pi_inter_abstracts"].length/this_block["publications"].length) : 0 %>%) <br/>
			</td>
			<% end %>
		<% end %>
	</tr>
	<% end %>
<% end %>
</table>
<br/>

</div>
