<h1>Tagging count for tag <i><%= @tag.name %></i> (total tags: <%= @tag_total %>)</h1>
<h3>Investigators: (<%= @investigator_count %> out of <%= @investigator_total %>)</h3>
<h3>Abstracts: (<%= @abstract_count %> out of <%= @abstract_total %>)</h3>
</table>