<% include_pubmed_id = false if include_pubmed_id.nil? %>
<% include_collab_marker = false if include_collab_marker.nil? %>
<% include_investigators = false if include_investigators.nil? %>
<% investigators_in_unit = [] if investigators_in_unit.nil? %>
<% show_paginator = true if show_paginator.nil? %>
<% do_pagination = "0" if do_pagination.nil? %>
<% show_delete_checkboxes = false if show_delete_checkboxes.nil? %>

<div id="listing"> 
<h2><%= heading %></h2>

<% if abstracts.length > 0 %>

<% params.delete(:do_pagination) if !params[:do_pagination].nil? %> 
<% params.delete(:the_year) if !params[:the_year].nil? %> 
<% params.delete(:name) if !params[:name].nil? %> 
<% params.delete(:investigator_id) if !params[:investigator_id].nil? %> 
<% if do_pagination == "0"  %>
	<% original_action = params[:action] %>
	<% params[:action] = params[:action].gsub(/full_(.*)/,'\1') %>
	<%= link_to( 'paginate', params ) if show_paginator  %>
	<% params[:action] = original_action %>
<% else %>
	<% if abstracts.total_pages > 1 && !["search","list"].include?(params[:action]) %>
		<% original_action = params[:action] %>
		<% original_page = params[:page] %>
		<% params.delete(:page) %>
		<% params[:action] = "full_"+params[:action] %>
		<%= link_to 'no pagination', params  %>
		<% params[:action] = original_action %>
		<% params[:page] = original_page %>
	<% end %>
	<%= will_paginate(abstracts, :outer_window => 5, :inner_window => 5) %>
<% end %>

<%= render :partial => "shared/abstract_listing_table.html", :locals => { :abstracts => abstracts, :investigators_in_unit => investigators_in_unit, :include_pubmed_id => include_pubmed_id, :include_collab_marker => include_collab_marker, :include_investigators => include_investigators, :show_delete_checkboxes => show_delete_checkboxes } %>

<% if do_pagination != "0"  %>
	<%= will_paginate(abstracts, :outer_window => 5, :inner_window => 5) %>
<% end %>
<p>
The above publications are sorted by year, faculty last name, and first author. Click on any highlighted author listed to find all publications attributed to that individual. Click on the publication title to see the abstract. <span class="first_author">First authors</span> who are faculty are <span class="first_author">highlighted like this</span>. <span class="last_author">Last authors</span> who are faculty are <span class="last_author">highlighted like this</span>. <span class="author">Other authors</span> who are faculty are <span class="author">highlighted like this</span>. <%= "Publications designated with an asterisk (*) represent intra-departmental interactions; those with a bullet (&bull;) inter-departmental interactions." if include_collab_marker %>
</p>
<% else%>
	<h2>Sorry, no publications are available!</h2>
<% end %>

<br />

</div>
