<% include_pubmed_id = false if include_pubmed_id.nil? %>
<% include_collab_marker = false if include_collab_marker.nil? %>
<% include_investigators = false if include_investigators.nil? %>
<% investigators_in_unit = [] if investigators_in_unit.nil? %>

<table cellpadding="2" cellspacing="0"> 
  <tr valign="bottom">
	  <%= '<th bgcolor="white" align="left"  class="list-left"></th>' if include_collab_marker %>
	  <%= '<th bgcolor="white" align="left"  class="list-left">PubMed&nbsp;ID</th>' if include_pubmed_id %>
	  <th bgcolor="white" align="left"  class="list-left">Publications</th>
  </tr>
  
<% for publication in abstracts %>
  <tr valign="middle" class="<%= cycle('list-line-odd', 'list-line-even') %>"> 
	<%= render :partial => "shared/publication_collab_marker.html", :locals => { :publication => publication, :investigators_in_unit => investigators_in_unit } if include_collab_marker %>
	<%= render :partial => "shared/pubmed_id_item.html", :locals => { :publication => publication } if include_pubmed_id %>
	<%= render :partial => "shared/publication_item.html", :locals => { :publication => publication } %>
	<%= render :partial => "shared/publication_investigators_item.html", :locals => { :publication => publication }  if include_investigators %>
  </tr>
<% end %>
</table>
