<div id="listing"> 
<h1><%= @heading %></i></h1>

<p><%= @investigators.length %> faculty are in the program '<%= @program.program_title %>'.</p>

Click on the investigator to find all publications attributed to that investigator. <br/>

<table cellpadding="2" cellspacing="0" class="fullsize"> 
  <tr valign="bottom">
	  <th bgcolor="lightgrey" align="left"  class="list-left">Investigator</th>
	  <th bgcolor="lightgrey" align="left"  class="list-left">Pubs</th>
	  <th bgcolor="lightgrey" align="left"  class="list-left">Collaborators</th>
	  <th bgcolor="lightgrey" align="left"  class="list-left" width="350px">MeSH</th>
	  <th bgcolor="lightgrey" align="left"  class="list-left">&nbsp;</th>
	  <th bgcolor="lightgrey" align="left"  class="list-left">Interactions</th>
  </tr>
 
<% count=0 %>
<% for investigator in @investigators %>
  <tr valign="middle" class="<%= cycle('list-line-odd', 'list-line-even') %>"> 
	<td class="list-left">
		<%= link_to( image_tag("base.gif"), show_member_graph_path(investigator.username), :title => "Graph member collaborations through co-publications ") %> 
		<%= link_to( investigator.first_name + "&nbsp;" + investigator.last_name, investigator_path(investigator.username)) %>&nbsp;<br/>
	</td>
	<td class="list-left">
		<%= link_to( investigator.total_pubs_last_five_years, investigator_path(investigator.username), :title => "Total: #{investigator.total_pubs_last_five_years}; First Author: #{investigator.num_first_pubs_last_five_years}; Last Author: #{investigator.num_last_pubs_last_five_years}")  %>&nbsp;<br/>
	</td>
	<td class="list-left">
		<%= link_to_collaborators(Investigator.collaborators(investigator.id)) %><br/>
	</td>
	<td class="list-left">
		<% tag_cloud investigator.abstracts.tag_counts(:limit => 5, :order => "count desc" ), %w(tagcloud1 tagcloud2 tagcloud3 tagcloud4) do |tag, css_class| %>
		   <%= link_to tag.name, tag_abstract_path(tag.name), :class => css_class, :title => "Total of #{tag.count} tags" %>
		<% end %>
	</td>
	<td class="list-center">
		<%= mail_to(investigator.email, "Email", 
			:subject => "Contact from the Cancer Center Publications site",
			:encode => "javascript") %>
	</td>
	<td class="list-center">
		&nbsp; &nbsp; <%= link_to 'Graph', show_member_graph_path(investigator.username)  %>
	</td>
	</tr>
<% end%>
</table>
</div>