<% if ! investigator.nil? %>
<h2><%= investigator.name %></h2>
<div id="biograph">
<table>
	<tr><td>
	<table>
		<%= handle_tr_format("Campus",investigator.campus) %>
		<%= handle_tr_format("Address",investigator.address1, /\$/,"<br>" ) %>
		<%= handle_tr_format("Telephone",investigator.business_phone) %>
		<%= handle_tr_format("Fax",investigator.fax) %>
		<%= handle_tr_format("Email",email_link(investigator.email)) %>
	</table>
	</td><td>
	<table>
		<%= handle_tr_format("Academic Title",investigator.title) %>
		<%= handle_tr_format("Primary Department",link_to_primary_department(investigator)) %>
		<%= handle_tr_format("Other Appointments", link_to_units(investigator.joint_appointments+investigator.secondary_appointments))%>
		<%= handle_tr_format("Center Affiliations",link_to_units(investigator.memberships))%>
	</table>
	</td></tr>
</table>
</div>
<% end %>

