<% show_primary_faculty = true if show_primary_faculty.nil? %>
<% show_associated_faculty = true if show_associated_faculty.nil? %>
<% show_members = true if show_members.nil? %>
<% show_unit_type = true if show_unit_type.nil? %>

<table cellpadding="2" cellspacing="0" width="100%" class="borderless"> 
<tr valign="bottom" colspan="3">
	<td class="list-title-left">
		Title
	</td>
	<% if show_unit_type %>
	<td class="list-title-left">
		Type
	</td>
	<% end %>
	<% if show_primary_faculty %>
	<td class="list-title-center">
		Primary<br/>
	</td>
	<% end %>
	<% if show_associated_faculty %>
	<td class="list-title-center">
		Joint + Secondary<br/>
	</td>
	<% end %>
	<% if show_members %>
	<td class="list-title-center">
		Members<br/>
	</td>
	<% end %>
	<td class="list-title-center">
		Total publications<br/>
	</td>
	<td class="list-title-left">
		Mesh terms<br/>
	</td>
</tr>

<% for unit in units %>
	<tr valign="bottom" colspan="3">
		<td>
			<%= link_to( image_tag("base.gif"), show_org_graph_url(unit.id), :title => "Authorship graph ") %> 
			<%= link_to( image_tag("cluster_icon_16.png"), show_org_graphviz_url(unit.id), :title => "Authorship network diagram ") %> 
			<%= link_to( image_tag("cluster_icon_16.png"), show_org_mesh_graphviz_url(unit.id), :title => "MeSH similarities network diagram") %> 
			<%= link_to( unit.name, org_url(unit.id), :title => "List publications by faculty members") %>
		</td>
		<% if show_unit_type %>
		<td>
			<%= unit.type %>
		</td>
		<% end %>
		<% if show_primary_faculty %>
		<td class="list-title-center">
			<%= link_to( (unit.primary_faculty).collect(&:id).uniq.length, show_investigators_org_url(unit.id), :title=>"List investigators in unit") %><br/>
		</td>
		<% end %>
		<% if show_associated_faculty %>
		<td class="list-title-center">
			<%= link_to( (unit.joint_faculty+unit.secondary_faculty).collect(&:id).uniq.length, show_investigators_org_url(unit.id), :title=>"List investigators in unit") %><br/>
		</td>
		<% end %>
		<% if show_members %>
		<td class="list-title-center">
			<%= link_to( (unit.members).collect(&:id).uniq.length, show_investigators_org_url(unit.id), :title=>"List investigators in unit") %><br/>
		</td>
		<% end %>
		<td class="list-title-center">
			<%= unit.organization_abstracts.length %><br/>
		</td>
		<td class="list-title-left">
		<% tag_cloud unit.abstracts.tag_counts(:limit => 6, :order => "count desc" ), %w(tagcloud1 tagcloud2 tagcloud3 tagcloud4) do |tag, css_class| %>
		   <%= link_to tag.name, tagged_abstracts_abstract_url(URI.escape(tag.name)), :class => css_class, :title => "Total of #{tag.count} tags" %>
		<% end %>
		<%= link_to "...more...", org_url(unit.id) %>
		</td>
	</tr>
<% end %>
</table>
