
<div id="admin">

<% cache("top_links") do %>
	
	<p><%= link_to("Add abstracts by PubMed ID", add_abstracts_abstracts_url() ) %></p>

	<p><%= link_to("List all investigators", list_all_investigators_url() ) %></p>
	
<h2>Reporting options</h2>

	<div id="stats">
		<p>Produce publication statistics for each unit. Please note that this report can take several minutes to generate!</p>
		<%= link_to "Unit Statistics", stats_orgs_url %> <- click to generate statistics
		<p>&nbsp;</p>
	<div id="period_stats">
		<% form_for :date_range, :url => period_stats_orgs_url, :html => { :method => :get, :class => "p" }  do |form| %> 
		<p>Produce publication statistics for each unit based on articles published between the following dates. Please note that this report can take several minutes to generate! (roughly one minute per year analyzed. Not bad if you think about it in those terms!) However, excluding reviews and editorials will slow down the statistics considerably.</p>
		  <p><%= form.text_field(:start_date, :size => 20) %> to
		  <%= form.text_field(:end_date, :size => 20) %> select dates </p>
		<p>Limit faculty with those with the checked appointment types (none selected is the same as all):
		<ul class="noBullets">
		  <% ["primary", "secondary", "member"].each do |affiliation_type| %>
		      <li>
		        <%= check_box_tag 'affiliation_types[]', affiliation_type -%>
		        <%= h affiliation_type -%>
		      </li>
		  <% end %>
		</ul>
	   <p><%= check_box_tag 'exclude_letters', '1' -%> Exclude Reviews, Editorials, Letters, and Biographies</p>
		  <%= submit_tag 'Generate Stats for dates' %>
		<% end %> 
		<br/>
	</div>
	<p>&nbsp;</p>
	<div id="list_by_unit">
		<% form_for :date_range, :url => list_orgs_url, :html => { :method => :get, :class => "p" }  do |form| %> 
		<p>List by unit all articles published between the following dates:</p>
		  <p><%= form.text_field(:start_date, :size => 20) %> to
		  <%= form.text_field(:end_date, :size => 20) %> select dates </p>
				<p>Limit faculty with those with the checked appointment types (none selected is the same as all):
				<ul class="noBullets">
				  <% ["primary", "secondary", "member"].each do |affiliation_type| %>
				      <li>
				        <%= check_box_tag 'affiliation_types[]', affiliation_type -%>
				        <%= h affiliation_type -%>
				      </li>
				  <% end %>
				</ul>
	   <p><%= check_box_tag 'exclude_letters', '1' -%> Exclude Reviews, Editorials, Letters, and Biographies</p>
		  <%= submit_tag 'List Publications' %>
		
		<% end %> 
		<br/>
	</div>
	<p>&nbsp;</p>
	<div id="list_one_unit">
		<% form_for :date_range, :url => {:controller => :orgs, :action => :abstracts_during_period}, :html => { :method => :post, :class => "p" }  do |form| %> 
		<p>Use the below form for printing:  List for one unit all articles published between the following dates:</p>

	  	<p><%= collection_select '', 'id', @head_node.descendants.sort{|a,b| a.name.downcase <=> b.name.downcase}, :id, :name  %> select unit </p>
		 <p><%= form.text_field(:start_date, :size => 20) %> to
		  <%= form.text_field(:end_date, :size => 20) %>  select dates </p>
		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
				<p>Limit faculty with those with the checked appointment types (none selected is the same as all):
				<ul class="noBullets">
				  <% ["primary", "secondary", "member"].each do |affiliation_type| %>
				      <li>
				        <%= check_box_tag 'affiliation_types[]', affiliation_type -%>
				        <%= h affiliation_type -%>
				      </li>
				  <% end %>
				</ul>
	   <p><%= check_box_tag 'exclude_letters', '1' -%> Exclude Reviews, Editorials, Letters, and Biographies</p>
	   <p><%= check_box_tag 'limit_to_first_last', '1' -%> Limit to articles with a first or last author from this unit</p>
	   <p>Impact factor: <%= text_field_tag('impact_factor', nil, :size => 10, :maxlength => 3) %> Limit to articles with at least this impact factor (blank is no limit) </p>
		<%= submit_tag 'List Publications by Unit' %>
		<% end %> 
	</div>
	<p>&nbsp;</p>
	<div id="summaries_one_unit">
		<% form_for :date_range, :url => {:controller => :profiles, :action => :list_summaries_by_program}, :html => { :method => :post, :class => "p" }  do |form| %> 
		<p>List the investigator summaries for the following unit:</p>

	  	<p><%= collection_select( '', :id, @head_node.descendants.sort{|a,b| a.name.downcase <=> b.name.downcase}, :id, :name)  %> select unit </p>
		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
		  <%= submit_tag 'List Summaries by Unit' %>
		<% end %> 
	</div>

	<p>&nbsp;</p>
	<div id="awards_one_unit">
		<% form_for :date_range, :url => {:controller => :awards, :action => :org}, :html => { :method => :post, :class => "p" }  do |form| %> 
		<p>List the investigator awards for the following unit:</p>

	  	<p><%= collection_select( '', :id, @head_node.descendants.sort{|a,b| a.name.downcase <=> b.name.downcase}, :id, :name)  %> select unit </p>
		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
		  <%= submit_tag 'List Awards by Unit' %>
		<% end %> 
	</div>

	<p>&nbsp;</p>
	<div id="list_by_ids">
		<% form_for :lists, :url => {:controller => :investigators, :action => :list_by_ids}, :html => { :method => :post, :class => "p" }  do |form| %> 
		<p>Use the below form for ad hoc listing of individuals :  Paste in a list of netids, email addresses, or employee ids you want to list:</p>
		<p><%= text_area('', :investigator_ids, :cols => 40, :rows => 20) %> Paste investigator netids, email addresses, or employee ids</p>
		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
		  <%= submit_tag 'List enumerated investigators' %>
		<% end %> 
	</div>

	<p>&nbsp;</p>
	<div id="list_by_investigators">
		<% form_for :date_range, :url => {:controller => :orgs, :action => :investigator_abstracts_during_period}, :html => { :method => :post, :class => "p" }  do |form| %> 
		<p>Use the below form for ad hoc reporting of publications for a group of individuals :  Paste in a list of netids, email addresses, or employee ids you want to include as well as a date range:</p>
		<p><%= text_area('', :investigator_ids, :cols => 40, :rows => 20) %> Paste investigator netids, email addresses, or employee ids</p>
		 <p><%= form.text_field(:start_date, :size => 20) %> to
		  <%= form.text_field(:end_date, :size => 20) %>  select dates </p>
		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
		<p><%= check_box_tag 'exclude_letters', '1' -%> Exclude Reviews, Editorials, Letters, and Biographies</p>
		  <%= submit_tag 'List Publications by enumerated investigators' %>
		<% end %> 
	</div>
<% end %>
<!-- end of top_links cache -->
<% cache("admin_listing_options") do %>

	<p>&nbsp;</p>
	<div id="investigator_listing">
		<% form_for( :abstract, :url => {:controller => :profiles, :action => :investigator_listing}, :html => { :method => :post, :class => "p" })  do |form| %> 
		<p>Select an investigator to get a list of publications associated with that investigator. You can use this report to remove a publication from all lists.</p>

	  	<p><%= collection_select '', 'id', @investigators, :username, :sort_name, {}, :size=>"30"  %> Select investigator </p>
		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
		  <%= submit_tag 'List Publications for Investigator' %>
		<% end %> 
	</div>
	<p>&nbsp;</p>

	<div id="impact_factor">
		<h2>Impact Factor and Eigenvalues Analysis</h2>
		<h2><%= link_to "List High Impact Journals", high_impact_url %></h2>
		<h2>Impact Factor Listing</h2>
		<p>Click on the year to run the analysis</p>
		<% LatticeGridHelper.year_array().each do |year| %>
			<h3><%= link_to year, impact_factor_url(year, '') %> &nbsp; <%= link_to "as pdf", formatted_impact_factor_url(year,"pdf") %> &nbsp; <%= link_to "as Excel", formatted_impact_factor_url(year,"xls") %> &nbsp; <%= link_to "as Word doc", formatted_impact_factor_url(year,"doc") %></h3>
		<% end %>
	</div>
<% end %><!-- end of admin_listing_options cache -->

<% cache("funding_listing_options") do %>

	<p>&nbsp;</p>
	<h2>Funding listing by funding source and award start</h2>
	<div id="funding_listing">
		<% form_for( :abstract, :url => recent_awards_path, :html => { :method => :post, :class => "p" })  do |form| %> 
		<p>Select a type of funding and a date range for the start date of the funding.</p>
		<p><%= select_tag(:funding_type, 
				options_for_select([["Federal Agencies", "FED"],["Foreign Governments", "FORGOV"],["Associations", "ASSOC"],["Educational Institutions", "EDUC"],["Foundations", "FOUND"],["Hospitals and Medical Centers", "HOSP"],["Industry and Trade Organizations", "INDUS"],["State of Illinois Agencies", "ILAGEN"],["Voluntary Health and Medical Organizations", "VOLHEAL"]], [params[:funding_type]])  
				) %> select format </p>

		 <p>Award start: <%= text_field_tag(:start_date, params[:start_date], :size => 20) %> to
		  <%= text_field_tag(:end_date, params[:end_date], :size => 20) %>  select dates </p>

		<p><%= select_tag(:format, 
				options_for_select([["HTML","html"], ["XML", "xml"],["PDF", "pdf"],["Excel", "xls"], ["Word", "doc"]], [params[:format]])  
				) %> select format </p>
		  <%= submit_tag 'List Funding over this period' %>
		<% end %> 
	</div>
	<p>&nbsp;</p>

<% end %><!-- end of admin_listing_options cache -->

</div>