<% unless @investigators.blank? %>
	<h2>
		Investigator Awards Listing --
		<span style="font-size: 12px; font-weight: normal;">
			<%= @investigators.length %> investigators
		</span>
	</h2>
	<% unless defined?(@pdf) and @pdf %>
		<div style="float:right;padding-right:5px;">
			<%= link_to( "as Word", listing_awards_url('doc'))  %>
			<%= link_to( "as Excel", listing_awards_url('xls')) %>
			<%= link_to( "as PDF", listing_awards_url('pdf'))  %>
		</div>
	<% end %>
	<%= render( :partial => "shared/award_note.html" ) %>
	<% cnt = 0 %>
	<div style="font-family: Arial,Geneva,Helvetica,sans-serif; font-size: 12px; margin:0px; padding:0px;overflow:visible;display:block; z-index: 5;">
		<table id="listingTable" class="listingTable">
		  <thead>
			  <tr style="vertical-align:bottom;">
				  <% unless defined?(@pdf) and @pdf %>
				    <th>#</th>
				  <% end %>
					<th>Name</th>
					<th>All Awards Count</th>
					<th>All Awards Total</th>
					<th>All Awards Directs</th>
					<th>All Awards Indirects</th>
					<th>Only Current Awards Count</th>
					<th>Only Current Awards Total</th>
					<th>Only Current Awards Directs</th>
					<th>Only Current Awards Indirects</th>
					<th>Only PI Awards Count</th>
					<th>Only PI Awards Total</th>
					<th>Only PI Awards Directs</th>
					<th>Only PI Awards Indirects</th>
					<th>Only Current PI Awards Count</th>
					<th>Only Current PI Awards Total</th>
					<th>Only Current PI Awards Directs</th>
					<th>Only Current PI Awards Indirects</th>
				</tr>
			</thead>
			<tbody>
			  <% for investigator in @investigators %>
				  <tr>
					  <% unless defined?(@pdf) and @pdf %>
					    <td style="font-size: 10px;text-align:right; padding-right:5px;">
					    	<%= cnt+=1 %>
					    </td>
					  <% end %>
					  <td>
					  	<div style="float:left;">
					  		<%= investigator.last_name %>, <%= investigator.first_name %>  <%= investigator.middle_name %>, <%= investigator.degrees %>
					  	</div>
					  	<% unless defined?(@pdf) and @pdf %>
					  	  <div style="float:right;">
					  	  	<%= link_to("details", investigator_url(investigator.username))  %>&nbsp;
					  	  </div>
					  	<% end %>
					  </td>
					  <td style="text-align:right; padding-right:5px;">
					  	<%= link_to(investigator.proposals_count, investigator_award_url(:id=>investigator.username)) unless investigator.proposals_count.to_i < 1 %>
					  </td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.proposals_total) unless investigator.proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.directs_total) unless investigator.proposals_count.to_i < 1  %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.indirects_total) unless investigator.proposals_count.to_i < 1  %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= link_to( investigator.current_proposals_count, investigator_award_url(:id=>investigator.username)) unless investigator.current_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.current_proposals_total) unless investigator.current_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.current_directs_total) unless investigator.current_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.current_indirects_total) unless investigator.current_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= link_to(investigator.pi_proposals_count, investigator_award_url(:id=>investigator.username)) unless investigator.pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.pi_proposals_total) unless investigator.pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.pi_directs_total) unless investigator.pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.pi_indirects_total) unless investigator.pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= link_to(investigator.current_pi_proposals_count, investigator_award_url(:id=>investigator.username)) unless investigator.current_pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.current_pi_proposals_total) unless investigator.current_pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.current_pi_directs_total) unless investigator.current_pi_proposals_count.to_i < 1 %>
						</td>
						<td style="text-align:right; padding-right:5px;">
							<%= "$" + number_with_delimiter(investigator.current_pi_indirects_total) unless investigator.current_pi_proposals_count.to_i < 1 %>
						</td>
					</tr>
			  <% end %>
			</tbody>
		</table>
	</div>
	<br/>

	<% unless defined?(@pdf) and @pdf %>
		<%= javascript_tag do %>
		  jQuery(document).ready(function() {
		    // call the tablesorter plugin
		    jQuery("#listingTable").tablesorter(
		      // turn off sorting on the 1st header
		      { sortInitialOrder: "asc", headers: { 0: {sorter: false} }, widgets: ['zebra'], sortList: [[11,1]]  }
		    );
		    jQuery('#listingTable').fixheadertable({
			    caption  : 'Click on a header to sort by that element',
		      height   : 690,
		      width    : 1875,
		      colratio : [30, 300, 60, 100, 100, 100, 90, 100, 100, 100, 80, 100, 100, 100, 90, 100, 100, 100]
		    });

			  jQuery.tablesorter.addParser({
			    id: "fancyNumber",
			    is: function(s) {
			      return /^\$?[0-9][0-9,\.]*$/.test(s);
			    },
			    format: function(s) {
			      return jQuery.tablesorter.formatFloat( s.replace(/,|$/g,'') );
			    },
			    type: "numeric"
			  });
			  var table = jQuery("#listingTable");
			  table.bind("sortEnd",function() {
			    var i = 1;
			    table.find("tr").each(function(){
			      jQuery(this).find("td:first").text(i);
			      i++;
			    });
			  });
		  });
		<% end %>
	<% end %>
<% else %>
  <h3>Sorry - no awards found.</h3>
<% end %>

