<% @all_abstracts = nil unless defined?(@all_abstracts) %>
<% @include_graph_link=true if @include_graph_link.nil? %>
<% @investigator_ids = [] if @investigator_ids.blank? %>
<% @faculty = [] if @faculty.blank? %>
<% @include_graph_link=false if @org.nil? %>


<% unless @awards.nil? %>
<% if @unit.blank? %>
	<h1><%= @title unless @title.blank? %></h1>
<% else %>
	<h1><%= @unit.name %> Funding Overview &nbsp;
	<% unless defined?(@pdf) and @pdf %>
	    <% if ! @all_abstracts.nil? && @all_abstracts.length > 9 -%>
		  <% publications_per_year=abstracts_per_year_as_string(@all_abstracts) -%>
		  <span class='inlinebarchart' values='<%= publications_per_year -%>' title='publications per year: <%= publications_per_year -%>'>&nbsp;</span>
	   	  <%= sparkline_barchart_setup({'barWidth'=>2,'barSpacing'=>2}).html_safe -%>
	    <% end -%>
	<% end -%>
	</h1>
<% end %>

<% if @faculty.length > 0 %>
<p>Faculty (<%= @faculty.length -%>) included in chart: <%= link_to_faculty(@faculty) %></p>
<% end %>
<span id='data_title' class='h2'>Award data: $<%= number_to_humanized(@awards_total) %> for <%= @awards.length %> awards.</span>

<% unless defined?(@pdf) and @pdf %>
	<% unless params[:id].blank? %>
		<div style="float:right;padding-right:5px;">
			<%= link_to( "as Word", org_award_url(params[:id],'doc'))  %>
			<%= link_to( "as Excel", org_award_url(params[:id],'xls')) %>
			<%= link_to( "as PDF", org_award_url(params[:id],'pdf'))  %>
		</div>
	<% end %>
	<% if @include_graph_link %>
	<p><%= org_nav_heading.html_safe %></p>
	<% end %>
<% end %>

<% if @awards.length == 0 %>
<h2>No awards were found</h2>
<% else %>
<p>Awards are organized by category and agency</p>
<div id="listing">
  <table cellpadding="2" cellspacing="0" class="borderless">
	<tr valign="bottom" class="header">
		<td class="list-title-left">
			#
		</td>
		<td class="list-title-left">
			PI
		</td>
		<td class="list-title-left">
			Category
		</td>
		<td class="list-title-left">
			Sponsor award id
		</td>
		<td class="list-title-left">
			Title
		</td>
		<td class="list-title-left">
			Agency
		</td>
		<td class="list-title-left">
			Award period
		</td>
		<td class="list-title-left">
			Project period
		</td>
		<td class="list-title-left">
			Total Amount
		</td>
		<td colspan="2" class="list-title-left">
			Collaborators
		</td>
	</tr>
 <% cnt = 0 %>
<% previous = nil %>
 <% for award in @awards %>
	<% next if cnt > 0 and award.id == previous.id %>
	<% previous = award %>
	<% cnt+=1 %>
	<tr class="<%= cycle('even', 'odd') %>">
		<td class="list-left">
			<%= cnt %>
		</td>
		<td class="list-left">
			<%=  link_to_investigator_awards(award.pi,  award.pi.name, "investigator_awards")  unless award.pi.blank?  %>
		</td>
		<td class="list-left">
			<%= award.sponsor_type_code %>
		</td>
		<td class="list-left">
			<%= award.sponsor_award_number %>
		</td>
		<td class="list-left">
			<%= link_to( award.title, award_url(award.id)) %>
		</td>
		<td class="list-left">
			<%= award.sponsor_name %>
		</td>
		<td class="list-left">
			<%= formatted_date(award.award_start_date) + " to " + formatted_date(award.award_end_date) %>
		</td>
		<td class="list-left">
			<%= formatted_date(award.project_start_date) + " to " + formatted_date(award.project_end_date) %>
		</td>
		<td class="list-left">
			<% if defined?(@pdf) and @pdf %>
			<%= award.total_amount %>
			<% else %>
			<%= number_to_humanized(award.total_amount) %>
			<% end %>
		</td>
		<td class="list-left">
			<%=  (award.investigator_proposals.count-1) %>
		</td>
		<td class="list-left">
			<%=  award.investigators.collect{|pi| link_to_investigator_awards(pi, pi.name, ((@investigator_ids.include?(pi.id)) ? "member_author" : "investigator_awards") ) if award.pi.blank? or pi.id != award.pi.id }.compact.join(", ") %>
		</td>
	</tr>
  <% end %>
  </table>

<br/>
</div>
<% end %>
<% end %>
