<% @all_abstracts = nil if !defined?(@all_abstracts) %>
<% @include_graph_link=true if @include_graph_link.nil? %>

<% unless @studies.blank? %>
<% if !defined?(@pdf) and ! @pdf %>

<h1><%= @unit.name %> Clinical Research Study Overview &nbsp;
    <% if ! @all_abstracts.nil? && @all_abstracts.length > 9 -%>
	  <% publications_per_year=abstracts_per_year_as_string(@all_abstracts) -%>
	  <span class='inlinebarchart' values='<%= publications_per_year -%>' title='publications per year: <%= publications_per_year -%>'>&nbsp;</span>
   	  <%= sparkline_barchart_setup({'barWidth'=>2,'barSpacing'=>2}) -%>
    <% end -%>
</h1>
<span id='data_title' class='h2'>Number of Clinical Research Studies: <%= number_to_humanized(@studies.length) %></span>
<div style="float:right;padding-right:5px;">
	<%= link_to( "as Word", org_award_url(params[:id],'doc'))  %>
	<%= link_to( "as Excel", org_award_url(params[:id],'xls')) %>
	<%= link_to( "as PDF", org_award_url(params[:id],'pdf'))  %>
</div>
<% if @include_graph_link %>
<p><%= org_nav_heading() %></p>
<% end %>

<% end %>
<% end %>


<script>
  jQuery(document).ready(function() {
     jQuery("#roles_definitions").dialog({ 
		autoOpen: false, 
		width: 1000,
		buttons: {
			"Ok": function() { 
				jQuery(this).dialog("close"); 
			}, 
			"Cancel": function() { 
				jQuery(this).dialog("close"); 
			} 
		},
		hide: 'slide',  
		modal: true, 
		show: 'slide' });
    jQuery(".roles").click(function() {
	     jQuery("#roles_definitions").dialog("open");
		return false;
	   })

  });

</script>
  

<div id="roles_definitions" title="Roles Definitions">
	<p><b>Definitions:</b></p>
	<div id="note">
	<p>The <b>PI</b> role in eIRB is listed as one of: <b>PI</b>, <b>Principal Investigator</b>, <b>Investigator</b>, or <b>Contact P. I.</b>  </p>
	<p>The <b>Co-Investigator</b> role in eIRB is listed as one of: <b>Co-Investigator</b>, <b>Co-I</b>, or <b>Co-PD/PI</b>. </p>
	<p>The <b>Fellow</b> role in eIRB is listed as one of: <b>Fellow</b>, <b>Postdoc</b>, or <b>Post Doctoral</b>. </p>
	<p>The <b>Faculty</b> role in eIRB is listed as one of: <b>Faculty</b>, <b>Asst. Professor</b>, <b>Collaborator</b>, <b>Mentor</b>, or <b>Co-Mentor</b>. </p>
	<p>The <b>Biostatistician</b> role in eIRB is listed as one of: <b>Biostatistician</b>, <b>Statistician</b>, <b>Analyst</b>, or <b>Data Mgmt</b>.</p>

	<p>The <b>Other</b> role consists of the remaining roles, including <b>Other</b>, <b>Advisory Board Member</b>, <b>Postdoc</b> </p>
	</div>
</div>
<%= render( :partial => "shared/study_note.html" ) %>
<div id="listing">
  <table cellpadding="2" cellspacing="0" class="borderless"> 
	<tr valign="bottom" class="header">
		<td class="list-title-left">
			#
		</td>
		<td class="list-title-left">
			<span class="roles">Study PI <%= image_tag("information.png") %></span>
		</td>
		<td class="list-title-left">
			IRB number
		</td>
		<td class="list-title-left">
			Title
		</td>
		<td class="list-title-left">
			Approval
		</td>
		<td class="list-title-left">
			Next review
		</td>
		<td class="list-title-left">
			Status
		</td>
		<td colspan="2" class="list-title-left">
			Collaborators
		</td>
	</tr>
 <% cnt = 0 %>
 <% @studies.each_with_index do |study, cnt| %>
	<tr class="<%= cycle('even', 'odd') %>">
		<td class="list-left">
			<%= cnt+1 %>
		</td>
		<td class="list-left">
			<%= study.pi_study.investigator.name  %>
		</td>
		<td class="list-left">
			<%= link_to( study.irb_study_number, study_url(study.id)) %>
		</td>
		<td class="list-left">
			<%= link_to( study.title, study_url(study.id)) %>
		</td>
		<td class="list-left">
			<%= formatted_date(study.approved_date) %>
		</td>
		<td class="list-left">
			<%= formatted_date(study.next_review_date) %>
		</td>
		<td class="list-left">
			<%= study.status %>
		</td>
		<td class="list-left">
			<%=  study.investigators.length %>
		</td>
		<td class="list-left">
			<%=  study.investigators.collect{|pi| link_to_investigator_studies(pi, pi.name)}.join(", ") %>
		</td>
	</tr>
  <% end %>
  </table>

<br/>
</div>
