<% @all_abstracts = nil if !defined?(@all_abstracts) %>
<% @include_graph_link=true if @include_graph_link.nil? %>
<% @include_graph_link=false if @unit.nil? %>

<% unless @studies.blank? %>
<% if !defined?(@pdf) and ! @pdf %>

<% if @unit.blank? %>
	<h1><%= @title unless @title.blank? %></h1>
<% else %>
	<h1><%= @unit.name %> Clinical Research Study Overview &nbsp;
	<% unless defined?(@pdf) and @pdf %>
	    <% if ! @all_abstracts.nil? && @all_abstracts.length > 9 -%>
		  <% publications_per_year=abstracts_per_year_as_string(@all_abstracts) -%>
		  <span class='inlinebarchart' values='<%= publications_per_year -%>' title='publications per year: <%= publications_per_year -%>'>&nbsp;</span>
	   	  <%= sparkline_barchart_setup({'barWidth'=>2,'barSpacing'=>2}) -%>
	    <% end -%>
	<% end -%>
	</h1>
<% end %>

<span id='data_title' class='h2'>Number of Clinical Research Studies: <%= number_to_humanized(@studies.length) %></span>
<% if @faculty.length > 0 %>
<p>Faculty (<%= @faculty.length -%>) included in chart: <%= link_to_faculty(@faculty) %></p>
<% end %>

<div style="float:right;padding-right:5px;">
	<%= link_to( "as Word", org_award_url(params[:id],'doc'))  %>
	<%= link_to( "as Excel", org_award_url(params[:id],'xls')) %>
	<%= link_to( "as PDF", org_award_url(params[:id],'pdf'))  %>
</div>
<% if @include_graph_link %>
<p><%= org_nav_heading() %></p>
<% end %>

<% end %>
<% end %>

<div id="listing">
  <table cellpadding="2" cellspacing="0" class="borderless"> 
	<tr valign="bottom" class="header">
		<td class="list-title-left">
			#
		</td>
		<td class="list-title-left">
			<span class="roles">Study PI</span>
		</td>
		<td class="list-title-left">
			IRB number
		</td>
		<td class="list-title-left">
			Title
		</td>
		<td class="list-title-left">
			Approval
		</td>
		<td class="list-title-left">
			Next review
		</td>
		<td class="list-title-left">
			Status
		</td>
		<td colspan="2" class="list-title-left">
			Collaborators
		</td>
	</tr>
 <% cnt = 0 %>
 <% @studies.each_with_index do |study, cnt| %>
	<tr class="<%= cycle('even', 'odd') %>">
		<td class="list-left">
			<%= cnt+1 %>
		</td>
		<td class="list-left">
			<%= study.pi_study.investigator.name unless study.pi_study.blank? or study.pi_study.investigator.blank? %>
		</td>
		<td class="list-left">
			<%= link_to( study.irb_study_number, study_url(study.id)) %>
		</td>
		<td class="list-left">
			<%= link_to( study.title, study_url(study.id)) %>
		</td>
		<td class="list-left">
			<%= formatted_date(study.approved_date) %>
		</td>
		<td class="list-left">
			<%= formatted_date(study.next_review_date) %>
		</td>
		<td class="list-left">
			<%= study.status %>
		</td>
		<td class="list-left">
			<%=  study.investigators.length %>
		</td>
		<td class="list-left">
			<%=  study.investigators.collect{|pi| link_to_investigator_studies(pi, pi.name)}.join(", ") %>
		</td>
	</tr>
  <% end %>
  </table>

<br/>
</div>
