<% if @study.blank? %>
<h3>Sorry. No data found</h3>
<% else %>
<div id="awardcontent">
<div id="award">

	<div id="title">
		Study title: <%= @study.title %>
	</div>
	<%= render( :partial => "shared/study_note.html" ) %>
	<%= format_object_div("irb_study_number", @study.irb_study_number ) %>
	<%= format_object_div("abstract", @study.abstract ) %>
	<%= format_object_div("status", @study.status ) %>
	<%= format_object_div("accrual_goal", @study.accrual_goal ) %>
	<%= format_object_div("approved_date", @study.approved_date ) %>
	<%= format_object_div("completed_date", @study.completed_date ) %>
	<%= format_object_div("next_review_date", @study.next_review_date ) %>
	<%= format_object_div("research_type", @study.research_type ) %>
	<%= format_object_div("review_type", @study.review_type ) %>
	<%= format_object_div("inclusion_criteria", @study.inclusion_criteria ) %>
	<%= format_object_div("exclusion_criteria", @study.exclusion_criteria ) %>

	<%= format_object_div("has_medical_services", @study.has_medical_services ) %>
	<%= format_object_div("is_clinical_trial", @study.is_clinical_trial ) %>
	<div id="personnel">
		<% if ! @study.investigator_studies.blank? %>
		<b>Personnel</b><br/>
		<table cellpadding="2" cellspacing="0" class='dense'>
			<tr class="header"><td class="list-title-left">Role</td><td class="list-title-right">Consent Role</td><td class="list-title-left">Investigator</td></tr>
		<%  for inv_study in @study.investigator_studies.by_role %>
			<tr class="<%= cycle('even', 'odd') %>">
			  <td class="list-left"><%= inv_study.role %></td><td class="list-right"><%= inv_study.consent_role %></td><td class="list-left"><%= link_to_investigator_studies(inv_study.investigator, inv_study.investigator.full_name) %></td>
			</tr>
		<%  end %>
		</table>
		<% end %>
	</div>
</div>

<% end %>
