<h2>Auditing/monitoring options</h2>

<p>LatticeGrid support tracking of logins and approvals. The 'who and when' for actions taken by LatticeGrid users. The following canned reports are available:</p>

<h3>Audit Logs</h3>
<ul>
	<li><%= link_to "View Logins", view_logins_audits_url %>: provides an overview of login activities since <%= LatticeGridHelper.logs_after %></li>
	<li><%= link_to "View All Logins", view_all_logins_audits_url %>: provides an overview of login activities</li>
	<li><%= link_to "View Profile Approvals", view_approved_profiles_audits_url %>: provides an overview of profile approval activities since <%= LatticeGridHelper.logs_after %></li>
	<li><%= link_to "View Publications Approvals", view_approved_publications_audits_url %>: provides an overview of publication approval activities since <%= LatticeGridHelper.logs_after %></li>
</ul>

<h3>Faculty-focused reports</h3>
<ul>
	<li><%= link_to "View Logins that did not result in an approval since  #{LatticeGridHelper.logs_after}", view_logins_without_approvals_audits_url %>: useful for understanding who logged in but did not finish the approval process</li>
	<li><%= link_to "View Profile Approvers", view_profile_approvers_audits_url %>: Who has approved their profiles since <%= LatticeGridHelper.logs_after %> and when was the last approval </li>
	<li><%= link_to "View Publication Approvers", view_publication_approvers_audits_url %>: Who has approved their publications since <%= LatticeGridHelper.logs_after %> and when was the last approval</li>
	
</ul>

<p>All pages also provide a selectable and copyable list of the investigators matching the activity, and those who have not yet performed the activity. For instance, <%= link_to "View Logins", view_logins_audits_url %> has a list of all the emails of those members who have logged in as well as a list of all of those who have never logged in. Useful for contacting members.</p>
</br>