<% params[:program] ||= "fdp" %>
<% params[:analysis] ||= "member" %>
<% if params[:analysis].include?("org_org") %>
	<% params[:stringency] ||= "10" %>
<% end %>
<% if params[:analysis].include?("org") and params[:analysis].include?("mesh") %>
	<% params[:stringency] ||= "2000" %>
<% end %>
<% if params[:analysis].include?("org") %>
	<% params[:stringency] ||= "3" %>
	<% params[:distance]   ||= "0" %>
<% end %>
<% if params[:analysis].include?("mesh") %>
	<% params[:stringency] ||= "2000" %>
	<% params[:stringency] = "2000" if params[:stringency].to_i < 500 %>
<% end %>
<% if params[:analysis] == "mesh" %>
	<% params[:stringency] ||= "1" %>
	<% params[:distance]   ||= "0" %>
	<% params[:include_orphans] ||= "1" %>
<% end %>
<% params[:id] ||= "str" %>
<% params[:format] ||= "svg" %>
<% params[:distance] ||= "1" %>
<% params[:stringency] ||= "1" %>
<% params[:include_orphans] ||= "0" %>

<% if params[:format] == "svg" %>
	<%= render( :partial => "svg_javascript" ) %>
<% end %>

<!-- this requires a params[:id] to be valid -->
<form onsubmit="return false">
	<%= hidden_field_tag :username,  params[:id] %>
	<%= hidden_field_tag :analysis,  params[:analysis] %>
	<%= select_tag(:program,
			           options_for_select([["neato", "neato"], ["dot", "dot"], ["twopi","twopi"], ["circo","circo"], ["fdp","fdp"]], [params[:program]])) %>
	<%= select_tag(:format,
			           options_for_select([["pdf", "pdf"], ["png", "png"], ["svg", "svg"]], [params[:format]])) %>
	<% if params[:analysis].include?("org") or params[:analysis] == "mesh" %>
	  Distance: <%= select_tag(:distance,
			                       options_for_select([["Zero","0"],["One","1"], ["Two","2"]], [params[:distance]])) %>
	<% else %>
	  Distance: <%= select_tag(:distance,
		                         options_for_select([["One","1"], ["Two","2"]], [params[:distance]])) %>
	<% end %>
	<% if params[:analysis].include?("mesh") and not params[:analysis] == "mesh" %>
		MeSH Stringency: <%= select_tag(:stringency,
			                              options_for_select([[">500","500"], [">1,000","1000"],  [">1,500","1500"], [">2,000","2000"],  [">2,500","2500"], [">3,000","3000"], [">4,000","4000"], [">5,000","5000"], [">6,000","6000"]], [params[:stringency]])) %>
	<% elsif params[:analysis].include?("org_org") %>
	  Stringency: <%= select_tag(:stringency,
			                         options_for_select([["One","1"], ["Two","2"], ["Three","3"], ["Five","5"], ["Seven","7"], ["Ten","2"], ["Twenty","20"], ["Fifty","50"]], [params[:stringency]])) %>
	<% else %>
	  Stringency: <%= select_tag(:stringency,
			                         options_for_select([["One","1"], ["Two","2"], ["Three","3"], ["Four","4"], ["Five","5"], ["Six","6"], ["Seven","7"], ["Eight","8"], ["Nine","9"], ["Ten","10"], ["Twelve","12"], ["Fifteen","15"]], [params[:stringency]])) %>
	<% end %>
	Date range: <%= text_field_tag( :start_date, params[:start_date], :size => 10) %> to <%= text_field_tag( :end_date, params[:end_date], :size => 10) %>
	<input type="button" name="redraw" value="redraw"
	       onclick="<%= graphviz_remote_function('graph',
	                                             'program',
	                                             'format',
	                                             'distance',
	                                             'stringency',
	                                             'username',
	                                             'analysis',
	                                             'include_orphans',
	                                             'start_date',
	                                             'end_date') %>" />
	<br/>
	Include orphaned nodes:
	<%= check_box_tag(:include_orphans,  1, params[:include_orphans] != "0",
		   { :onchange => graphviz_remote_function('graph',
		   	                                       'program',
		   	                                       'format',
		   	                                       'distance',
		   	                                       'stringency',
		   	                                       'username',
		   	                                       'analysis',
		   	                                       'include_orphans',
		   	                                       'start_date',
		   	                                       'end_date')
		   })
  %> &nbsp;
</form>
&nbsp;
<%= link_to('Download the SVG graph',
            send_graphviz_image_path(params[:id],params[:analysis],params[:distance],
            	                       params[:stringency],params[:include_orphans],
            	                       params[:start_date],params[:end_date],params[:program],params[:format] ),
            :id => 'download_graph', :target=>'_blank') %>
<div id="member">
	<div id="graph"></div>
</div>

<%= javascript_tag do %>
	function convertDateToInteger(the_string) {
		var new_date=the_string;
		if (new_date.match(/^([0-9]+)\/([0-9]+)\/([0-9]+)/)) {
			if (new_date.match(/^([0-9])\/([0-9]+)\/([0-9]+)/)) {
				new_date=new_date.replace(/^([0-9])\//, "0$1/");
			}
			if (new_date.match(/([0-9]+)\/([0-9])\/([0-9]+)/)) {
				new_date=new_date.replace(/\/([0-9])\//, "/0$1/");
			}
			new_date=new_date.replace(/([0-9]+)\/([0-9]+)\/([0-9]+)/, "$3$1$2");
		}
		if (new_date.match(/^([0-9]+)\-([0-9]+)\-([0-9]+)/)) {
			new_date=new_date.replace(/([0-9]+)\-([0-9]+)\-([0-9]+)/, "$1$2$3");
		}
		return new_date;
	}

	<%= graphviz_remote_function('graph', 'program', 'format', 'distance', 'stringency', 'username', 'analysis', 'include_orphans', 'start_date', 'end_date') %>
	$('download_graph').observe('click', function(event){
		var thelink=document.getElementById('download_graph');
		var base_url = '<%= image_path("../send_graphviz_image") -%>';
		var full_url = base_url + "/"+$('username').getValue() +"/"+$('analysis').getValue() +"/"+$('distance').getValue() +"/"+$('stringency').getValue() +"/"+$('include_orphans').getValue() +"/"+convertDateToInteger($('start_date').getValue()) +"/"+convertDateToInteger($('end_date').getValue()) +"/"+$('program').getValue() +"."+$('format').getValue();
		thelink.href = full_url;
		return true;
	});
<% end %>
