<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= LatticeGridHelper.page_title %>: <%= controller.action_name.titleize %></title>
    <meta name="keywords" content="LatticeGrid social network analysis, pubmed, collaborations">
    <!-- javascript files -->
    <% @javascripts ||= %w(prototype scriptaculous FusionCharts jquery-1.8.3 jquery.sparkline.min ddsmoothmenu2) %>
    <% @javascripts += @javascripts_add if defined?(@javascripts_add) %>
    <% @javascripts.each do |js| %>
      <%= javascript_include_tag js %>
    <% end %>
    <!-- CSS Files -->
    <% @stylesheets ||= [ "publications", "latticegrid/#{lattice_grid_instance}", "welcome", 'ddsmoothmenu', 'ddsmoothmenu-v' ] %>
    <% @stylesheets.each do |ss| %>
      <%= stylesheet_link_tag ss %>
    <% end %>

    <%= render 'shared/menu_scripts', :menu_nodes => @menu_nodes %>
    <link rel="shortcut icon" href='<%= "/assets/#{lattice_grid_instance}/favicon.ico" -%>' />
    <% if @javascripts.join =~ /jquery/i %>
      <script type="text/javascript" language="JavaScript">
        jQuery.noConflict();
        var $j = jQuery; // Use jQuery via jQuery(...)
      </script>
    <% end %>
    <%= LatticeGridHelper.google_analytics.html_safe -%>
  </head>
  <body>
    <%= render 'shared/debug_section' %>
    <div id="main" class="autoclear">
      <div id="results" class="notice">
        <%= flash[:notice] %>
        <div id="errors">
          <%= flash[:errors] %>
        </div>
        <%= image_tag 'loading.gif', :id => 'spinner', :style => "display:none; float:right;" %>
      </div>
      <div id='title'>
        <%= link_to(image_tag('latticegrid.png', size: '65x93'), root_path) -%>
        <%= link_to(LatticeGridHelper.header_title.html_safe, current_abstracts_url, id: 'title_link') -%>
      </div>
      <%= render 'shared/search' %>
      <%= render 'shared/side' %>
      <% main_content_id = controller_name == 'welcome' ? 'welcome_content' : 'maincontent' %>
      <div id="<%= main_content_id %>">
        <div id='content'>
          <%= yield  %>
        </div> <!-- end of content -->
      </div> <!-- end of maincontent -->
      <div id='banner'>
        <div id='last_load_date'>
          Last updated from PubMed on <%= session[:last_load_date].strftime("%A, %B %d, %Y") %>
        </div>
        <a href="<%= LatticeGridHelper.home_url %>" >
          <%= image_tag "#{lattice_grid_instance}/pageheader.jpg", alt: LatticeGridHelper.header_title %>
        </a>
      </div>
    </div> <!-- end of main -->
  </body>
</html>
