<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= LatticeGridHelper.page_title %>: <%= controller.action_name %></title>
    <meta name="keywords" content="LatticeGrid social network analysis, pubmed, collaborations">

    <% @javascripts ||= [ 'cytoscapejs/arbor', 'cytoscapejs/cytoscape.min', 'jquery.min', 'jquery.sparkline.min' ] %>
    <!-- include JIT Library File -->
    <% @javascripts.each do |js| %>
      <%= javascript_include_tag js %>
    <% end %>
    <!-- CSS Files -->
    <% @stylesheets ||= [ 'cytoscape/layout','publications', "latticegrid/#{lattice_grid_instance}" ] %>
    <% @stylesheets.each do |ss| %>
      <%= stylesheet_link_tag ss %>
    <% end %>
    <link rel="shortcut icon" href='<%= "/assets/#{lattice_grid_instance}/favicon.ico" -%>' />
    <%= LatticeGridHelper.google_analytics.html_safe -%>
  </head>
  <body>
    <%= render 'shared/debug_section' %>
    <div id="main" class="autoclear">
      <div id="banner">
        <a href="<%= LatticeGridHelper.home_url %>" >
          <%= image_tag "#{lattice_grid_instance}/pageheader.jpg", options={:alt=>LatticeGridHelper.header_title} %>
        </a>
      </div>
      <div id="results" class="notice">
        <%= flash[:notice] %>   <%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %>
      </div>
      <div id="title">
        <%= LatticeGridHelper.header_title -%>
      </div>
      <%= render "shared/search" %>
      <div id="side">
        <div id="sideinfo" style="margin-top:15px;margin-bottom:75px;">
          <%= link_to("Publications", current_abstracts_path, :style=>"color:indigo;font-size:20pt;") %>
        </div> <!-- end of sideinfo -->
        <%= render 'shared/nubic_branding' %>
        <p></p>
      </div> <!-- end of side -->
      <div id="maincontent">
        <div id="niceline"></div>
        <%= yield  %>
      </div> <!-- end of maincontent -->
    </div> <!-- end of main -->
  </body>
</html>
