<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= LatticeGridHelper.page_title %>: <%= controller.action_name %></title>
    <meta name="keywords" content="LatticeGrid social network analysis, pubmed, collaborations">
    <% @javascripts ||= ['cytoscape/cytoscapeweb', 'cytoscape/jquery-1.3.2.min', 'cytoscape/flash_detect_min',
                         'cytoscape/jquery.cytoscapeweb', 'cytoscape/json2.min', 'AC_OETags',
                         'cytoscape/cytoscapeweb-defaults', 'cytoscape/cytoscapeweb-file', 'cytoscape/home',
                         'jquery-1.8.3', 'jquery_ujs', 'jquery.sparkline.min', 'jquery-ui.min', 'ddsmoothmenu2'] %>
    <!-- include JIT Library File -->
    <% @javascripts.each do |js| %>
      <%= javascript_include_tag js %>
    <% end %>
    <!-- CSS Files -->
    <% @stylesheets ||= ['cytoscape/layout','publications', "latticegrid/#{lattice_grid_instance}",
                         'jquery-ui', 'ddsmoothmenu', 'ddsmoothmenu-v' ] %>
    <% @stylesheets.each do |ss| %>
      <%= stylesheet_link_tag ss %>
    <% end %>
    <link rel="shortcut icon" href='<%= "/assets/#{lattice_grid_instance}/favicon.ico" -%>' />
    <% if @javascripts.join =~ /jquery/i %>
      <script type="text/javascript" language="JavaScript">
        jQuery.noConflict();
        var $j = jQuery; // Use jQuery via jQuery(...)
      </script>
    <% end %>
    <%= LatticeGridHelper.google_analytics.html_safe -%>
  </head>
  <body>
    <%= render 'shared/debug_section' %>
    <div id="main" class="autoclear">
      <div id="results" class="notice">
        <%= flash[:notice] %>
        <%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %>
      </div>
      <div id='title'>
        <%= link_to(image_tag('latticegrid.png', size: '65x93'), root_path) -%>
        <%= link_to(LatticeGridHelper.header_title.html_safe, current_abstracts_url, id: 'title_link') -%>
      </div>
      <%= render 'shared/search' %>
      <%= render 'shared/side' %>
      <div id="maincontent">
        <%= yield  %>
      </div> <!-- end of maincontent -->
      <%= render 'shared/banner' %>
    </div> <!-- end of main -->
  </body>
</html>
