<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= LatticeGridHelper.page_title %>: <%= controller.action_name %> Diagram</title>
	<% @javascripts ||= [ 'd3/d3.js', 'd3/d3.layout.js', 'readme.js' ] %>
	<!-- include JIT Library File -->
	<%= javascript_include_tag @javascripts %> 

	<link rel="shortcut icon" href='<%= image_path("#{lattice_grid_instance}/favicon.ico") -%>' />

	<!-- CSS Files -->
    <style type="text/css">



.node {
  font: 10px sans-serif;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}

path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 11px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source:hover {
	stroke: #d527d6;
}
.link.target:hover{
	stroke: #d527d6;
}

.link:hover{
	fill: #d527d6;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}
/*name target */
.node.target {
  fill: #d62728 !important;
}
/* the actual link */
.link.source {
  stroke: #d62728;
} 

/*
#d62728
*/


.node.source {
  fill: #d62728;
}

.link.target {
  stroke: #d62728;
}

    </style>
</head>
<body>
<div id="main">
<%= yield  %>
</div> <!-- end of main -->
</body>
</html>