<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= LatticeGridHelper.page_title %>: <%= controller.action_name %> Diagram</title>
    <% @javascripts ||= [ 'd3/d3.js', 'd3/d3.layout.js', 'd3/package.js' ] %>
    <!-- include JIT Library File -->
    <% @javascripts.each do |js| %>
      <%= javascript_include_tag js %>
    <% end %>
    <link rel="shortcut icon" href='<%= "/assets/#{lattice_grid_instance}/favicon.ico" -%>' />
    <!-- CSS Files -->
    <% @stylesheets ||= ['d3/bundle', 'ddsmoothmenu', 'ddsmoothmenu-v'] %>
    <% @stylesheets.each do |ss| %>
      <%= stylesheet_link_tag ss %>
    <% end %>
    <style type="text/css">
      body {
        font: 10px sans-serif;
      }
      path.chord {
        fill-opacity: .67;
      }
    </style>
  </head>
  <body>
    <div id="main" class="autoclear">
      <div id="banner">
        <a href="<%= LatticeGridHelper.home_url %>">
          <%= image_tag "#{lattice_grid_instance}/pageheader.jpg", options={:alt=>LatticeGridHelper.header_title} %>
        </a>
      </div>
      <div id="results" class="notice">
        <%= flash[:notice] %>
        <%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %>
      </div>
      <div id="title">
        <%= link_to( LatticeGridHelper.header_title.html_safe, current_abstracts_url) -%>
      </div>
      <div id="search">
        <% if LatticeGridHelper.allow_profile_edits? %>
          <span style="float:right;">
            <%= link_to("login", profiles_url) %>
          </span>
        <% end %>
        <span style="float:left; margin-left:-105px;">
          <%= link_to("LatticeGrid Home", abstracts_url) %>
        </span>
        &nbsp;<br/>
      </div>
      <div id="niceline"></div>
      <div id="content">
        <%= yield  %>
      </div> <!-- end of content -->
    </div> <!-- end of main -->
  </body>
</html>