<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RHLCCC Faculty Publications: <%= controller.action_name %></title>
  <style type="text/css">
  <%= File.read("#{RAILS_ROOT}/public/stylesheets/publications.css") %>
  </style>
  <%= javascript_include_tag :defaults %> 

</head>
<body>

<% if ENV['RAILS_ENV'] == 'development' && request.remote_ip =~ /127.0.*/ %>
    <div id="debug" style="margin: 5px 5px 5px 5px;">
        <a href="#" onclick="Element.toggle('debug_info');return false" style="text-decoration: none; color: #999;">Show Debug Info &#10162;</a>
        <div id="debug_info" style="display : none;">
            <%= debug session %>
            <%= debug params %>
        </div>
    </div>
<% end %>
<div id="main" class="autoclear">
	<div id="banner"><a href="http://www.cancer.northwestern.edu" ><%= image_tag "pageheader.jpg", options={:alt=>"The Robert H. Lurie Comprehensive Cancer Center of Northwestern University"} %></a></div>
	<div id="results" class="notice"><%= flash[:notice] %> 	<%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %> </div>
	<div id="title">Cancer Center Member Publications and Abstracts Site</div>
	<div id="niceline"></div>
	<div id="content">
	<%= yield  %>
	</div> <!-- end of content -->
	<div id="last_load_date">
		Last updated from PubMed on <%= session[:last_load_date].strftime("%A, %B %d, %Y") %>
	</div>
</div> <!-- end of main -->
</body>
</html>
