<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= LatticeGridHelper.page_title %>: <%= controller.action_name %></title>
  <meta name="keywords" content="LatticeGrid social network analysis, pubmed, collaborations">
	<%= javascript_include_tag 'prototype' %>
	<!-- CSS Files -->
	<% @stylesheets ||= [ "publications", "latticegrid/#{lattice_grid_instance}" ] %>
	<%= stylesheet_link_tag @stylesheets %>
	<link rel="shortcut icon" href='<%= image_path("favicon.ico") -%>' />
  <%= LatticeGridHelper.google_analytics -%>
  <% if lattice_grid_instance == 'RAS' %>
  <script type="text/javascript" language="JavaScript">
    document.domain = "nciphub.org";
  </script>
  <% end %>
</head>
<body>

<div id="main" class="autoclear">
	<div id="banner"><a href="<%= LatticeGridHelper.home_url %>" ><%= image_tag "#{lattice_grid_instance}/pageheader.jpg", options={:alt=>LatticeGridHelper.header_title} %></a></div>
	<div id="results" class="notice"><%= flash[:notice] %> 	<%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %> </div>
	<div id="title"><%= LatticeGridHelper.header_title -%></div>
	<%= render :partial => "shared/search" %>
	<div id="side">
		<div id="sideinfo" style="margin-top:15px;margin-bottom:75px;">
			<%= link_to("Publications", current_abstracts_url, :style=>"color:indigo;font-size:20pt;") %>
		</div> <!-- end of sideinfo -->
		<div id="lattice_grid">
			<%= link_to( image_tag( 'latticegrid.png', :size => "65x93" ), "http://wiki.bioinformatics.northwestern.edu/index.php/LatticeGrid") %> <br/>
			Powered by <%= link_to( "LatticeGrid", "http://wiki.bioinformatics.northwestern.edu/index.php/LatticeGrid") %> 
		</div>
		<div id="nubic">
			<%= link_to( image_tag( 'nubic-logo.png', :size => "150x56" ), "http://informatics.northwestern.edu/") %> 
		 	<%= link_to( "Built by NUBIC", "http://informatics.northwestern.edu/") %>
		</div>
		<br/>
		<% if lattice_grid_instance == 'RAS' %>
		<div id="ti">
		   <a href="http://ti.ucsf.edu/"><img alt="Ti-logo" height="56" src="/images/ti-logo.png" width="150" /></a>  <br/>
		   <a href="http://ti.ucsf.edu/">Supported by Translational Informatics</a>
		 </div>
		<p></p>
	</div> <!-- end of side -->
	<div id="maincontent">
		<div id="niceline">
		</div>
		<div id="content">
		<%= yield  %>
		</div> <!-- end of content -->
	</div> <!-- end of maincontent -->
</div> <!-- end of main -->
</body>
</html>
