<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= LatticeGridHelper.page_title %>: <%= @page_title || controller.action_name %></title>
    <meta name="keywords" content="LatticeGrid social network analysis, pubmed, collaborations">
    <!-- for uEditor : @javascripts ||= [ "jquery.min","uEditor"] -->
    <!-- javascript files -->
    <% @javascripts ||= %w(excanvas-r48 canvastext mootools-1.2.5-core-nc mootools-1.2-more moowheel ddsmoothmenu2) %>
    <% @javascripts += @javascripts_add if defined?(@javascripts_add) %>
    <% @javascripts.each do |js| %>
      <%= javascript_include_tag js %>
    <% end %>
    <!-- CSS Files -->
    <% @stylesheets ||= ["publications", "latticegrid/#{lattice_grid_instance}", 'ddsmoothmenu', 'ddsmoothmenu-v'] %>
    <% @stylesheets.each do |ss| %>
      <%= stylesheet_link_tag ss %>
    <% end %>
    <link rel="shortcut icon" href='<%= "/assets/#{lattice_grid_instance}/favicon.ico" -%>' />
    <% if @javascripts.join =~ /jquery/i %>
      <script type="text/javascript" language="JavaScript">
        jQuery.noConflict();
        var $j = jQuery; // Use jQuery via jQuery(...)
      </script>
    <% end %>
    <%= LatticeGridHelper.google_analytics.html_safe -%>
  </head>
  <body>
    <%= render 'shared/debug_section' %>
    <div id="main" class="autoclear">
      <div id="results" class="notice">
        <%= flash[:notice] %>
        <%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %>
      </div>
      <div id='title'>
        <%= link_to(image_tag('latticegrid.png', size: '65x93'), root_path) -%>
        <%= link_to(LatticeGridHelper.header_title, current_abstracts_url, id: 'title_link') -%>
      </div>
      <%= render 'shared/search' %>
      <%= render 'shared/side' %>
      <div id="maincontent">
        <%= yield  %>
      </div> <!-- end of maincontent -->
      <div id='banner'>
        <div id='last_load_date'>
          Last updated from PubMed on <%= session[:last_load_date].strftime("%A, %B %d, %Y") %>
        </div>
        <a href="<%= LatticeGridHelper.home_url %>" >
          <%= image_tag "#{lattice_grid_instance}/pageheader.jpg", alt: LatticeGridHelper.header_title %>
        </a>
      </div>
    </div> <!-- end of main -->

  </body>
</html>
